<div class="cards">
  <% @tennis_courts.each do |t| %>
    <div class="card mb-2">
      <%= cl_image_tag t.photo.key, crop: :fill %>
      <div class="card-body">
        <h5 class="card-title"><strong><%= t.name %></strong></h5>
        <p class="card-text"><%= t.address %></p>
        <p class="card-text"><small class="text-muted"><%= t.detail %></small></p>
        <div class="d-flex justify-content-between align-items-end">
          <%= link_to "Book now", tennis_court_path(t), class: "btn btn-primary" %>
          <h3 class="card-text"><strong>$<%= t.price_per_hour %></strong></h3>
        </div>
      </div>
    </div>
  <% end %>
</div>
