<div class="listing-title mt-4">
    <% if @tennis_court.reviews.present? %>
      <h5><strong><%= @tennis_court.reviews.count %> Reviews</strong></h5>
    <% else %>
      <h4><strong>Reviews</strong></h4>
    <% end %>
</div>

<hr>

<% if @tennis_court.reviews.present? %>
  <% @tennis_court.reviews.each do |review| %>
    <div class="mt-3">
      <div class="review-avatar">
        <% if review.user.first_name.blank? %>
          <%= image_tag "avatar-anonymous.png", class: "avatar" %>
          <strong>Anonymous</strong>
        <% else %>
          <%= image_tag "avatar-anonymous.png", class: "avatar" %>
          <strong><%= review.user.first_name %></strong>
        <% end %>
      </div>
      <div class="review-content mt-1">
        <div class="d-flex align-items-baseline">
          <% (1..5).to_a.each do |el| %>
            <% if el <= review.rating %>
              <i class="fas fa-star" style="color: #ffb400;"></i>
            <% else %>
              <i class="fas fa-star" style="color: #ccc"></i>
            <% end %>
          <% end %>
        <span class="ml-1"><%= review.content %></span>
        </div>
      </div>
      <small>Posted on: <%= review.created_at.strftime("%Y-%m-%d") %></small>
    </div>
  <% end %>
<% else %>
  <p>There are no reviews for this tennis court yet!</p>
<% end %>

<hr>

<%= render 'reviews/form' %>

