<div class="card mt-5">
  <div class="card-body">
    <div class="container">
      <h5 class="card-title">Confirm your appointment:</h5>
      <table class="table">
        <thead>
          <th scope="col">Tennis Court</th>
          <th scope="col">Address</th>
          <th scope="col">Date</th>
          <th scope="col">Start Time</th>
        </thead>
        <tbody>
          <tr>
            <td><%= @booking.tennis_court.name %></td>
            <td><%= @booking.tennis_court.address %></td>
            <td><%= @booking.date %></td>
            <td><%= @booking.start_hour %>h</td>
          </tr>
        </tbody>
      </table>
      <%= link_to "Confirm",
        tennis_court_bookings_path(@booking.tennis_court, :start_hour => @booking.start_hour, :date => @booking.date), method: :post %>
    </div>
  </div>
</div>
