<h4 class="ml-3 mt-3">Your search results:</h4>
<%= form_tag "/bookings/search", method: :get do %>
    <div class="d-flex mb-4 ml-3 mr-3">
      <%= date_field_tag :date,
              params[:date],
              class: "form-control",
              value: Date.today.to_s
              %>
      <%= button_tag(type: "submit", class: "btn btn-primary") do %>
        <i class="fas fa-search"></i>
      <% end %>
    </div>
<% end %>
<div class="main-container ml-3">
  <div class="search-cards">
    <% @tennis_courts.each do |tennis_court| %>
      <div class="card mb-3 search-result">

        <div class="row no-gutters">
          <div class="col-md-5">
            <div class="card-category" style="background-image: url('<%= cl_image_path tennis_court[:photo], height: 300, width: 400, crop: :fill %>')">
              ⭐️⭐️⭐️⭐️⭐️
            </div>
          </div>
          <div class="col-md-7">
            <div class="card-body">
              <div class="d-flex justify-content-between">
                <%= link_to tennis_court_path(tennis_court) do %>
                  <h4 class="card-title name-link"><%= tennis_court[:name] %></h4>
                <% end %>
                <h4 class="card-title"><strong>$<%= tennis_court[:price_per_hour] %></strong></h4>
              </div>
                <p class="card-text"><small><%= tennis_court[:address] %></small></p>
              <div class="align-items-end">
                <p class="card-text mb-0">Available slots:</p>
                <div class="d-inline-flex flex-wrap">
                  <% @slots.each do |slot| %>
                    <% if tennis_court[:bookings].include? (slot[:time]) %>
                      <div class="mini-slot gray rounded">
                        <strong><%= slot[:time] %>h</strong>
                      </div>
                    <% else %>
                        <div class="mini-slot purple rounded">
                          <%= link_to tennis_court_bookings_confirm_path(tennis_court[:id],
                              :booking => { :start_time => slot[:time], :date => @date }), style: "color: white" do
                              %>
                              <strong><%= slot[:time] %>h</strong>
                          <% end %>
                        </div>
                    <% end %>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <div id="map"
       class="mr-3"
       data-markers="<%= @markers.to_json %>"
       data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>
</div>
